

/* label color */
   /* .input-field label {
     color: #999999 !important;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #999999 !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 2px solid #999999 !important;
     box-shadow: 0 2px 0 0 #999999 !important;
   }
   /* valid color */
   /* .input-field input[type=text].valid {
     border-bottom: 1px solid #999999;
     box-shadow: 0 1px 0 0 #000; */
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #999999;
     box-shadow: 0 1px 0 0 #999999;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #999999;
   }


   @media only screen
       and (device-width : 375px)
       and (-webkit-device-pixel-ratio : 3) {
         h5  { font-size: 15px !important; }
        }
